/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
header {
    width: 100%;
    height: 80px;
    background: linear-gradient( green 15%, #4CAF50 60%);

}
nav {
    height: 100%;
}
nav > ul {
    display: flex;
   /* justify-content: space-between; */
    align-items: flex-end;
    height: 100%;
}
li{
    flex-direction: row;
    list-style-type: none;
    flex-grow: 1;
    flex-basis: 25%;
    display: flex;
}
.nav{
    text-decoration: none;
    border: none;
    color: black;
    flex-grow: 1;
    text-align: center;
    background-color: #4CAF50;
    border: solid 1px black;
    padding: 10px;


}
h1{
    font-size: 40px;
    text-align: center;
    padding: 10px;
    font-family: 'Varela Round', sans-serif;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.container > div {
    flex-grow: 1;
    flex-basis: 100px;
    min-width: 200px;
    overflow-x: hidden;
    height: 200px;
    position: relative;
}

.container > div > img {
    height: 200px;
}
.container > div > h2 {
    position: absolute;
}